* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto';
}


header {
    /* font-size: 0; 
    canceling margin why using inline-block ( trick ) */
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}


header div {
    height: 200px;
    background-color: royalblue;
    float: left;
    width: 25%;
    border: white solid 30px;
    /* margin: 2.5%; alternative to border-box sizing */
    /* display: inline-block;
    need to use font size in header to delete margins
    */
}
header div:nth-child(1) {
    background-color:red;
}

header div:nth-child(2) {
    background-color:black;
}

header div:nth-child(3) {
    background-color:orange;
}

header div:nth-child(4) {
    background-color:green;
}

header div:nth-child(1):hover {
    background-color:pink;
}
header div:nth-child(2):hover {
    background-color:purple;
}
header div:nth-child(3):hover {
    background-color:powderblue;
}
header div:nth-child(4):hover {
    background-color:gold;
}

nav {
    background-color: grey;
    margin: 20px 0px ;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul li {
    float: left;
    list-style-type: none;
        /* width: 30%; */
        width: 25%;
        margin: 0 auto;
    }
    
    nav ul li:hover {
        background-color: black;
        transition: 0.3s;
        
    }
    
    nav ul li a {
        display: block;
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        border-right: 1px solid black;
        text-align: center;
        padding: 10px 30px;
        letter-spacing: 3px;
        
    }
    
    
    div.blog {
        margin-top: 40px;
        max-width: 1280px;
        margin: 0 auto;
    }
    
    
    nav ul li:hover{
        color:red;
    }
    
    footer{
        background-color: black;
        color:white;
        text-align: center;
        padding: 20px 0;
        margin: 40px 0;
        
    }
    
    main {
        background-color: violet;
        float: left;
        width: 65%;
        padding: 0 20px;
    }
    
    
    aside {
        float: left;
        width: 30%;
        padding: 0 10px;
    }
    
    article img{
        width: 200px;
        float: left;
        margin:20px;
    }
    
    
    article p {
        margin-top: 20px;
    }
    
    article h1 {
        text-transform: uppercase;
    }
    
    section.contact {
        background-color: gray;
        
    }
    
    section.contact ul {
        list-style: none;
        padding: 10px;
    }
    
    section.contact p {
        margin-bottom: 24px;
        font-weight: bold;
    }
    
    
    section.contact li {
        margin-bottom: 24px;
        font-size: 15px;
    }
    
    section.contact li i {
        margin-right: 20px;
        color: blue;
    }
    
    section.news {
        height: 300px;
        background-color: green;
    }



    li:nth-child(1){

        border-left: 1px solid black;
    }

    i {
        margin-right: 5px;
    }